
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%# List Name %>
      <div class="d-flex flex-column align-items-center mb-4">
        <h1><%= @list.name %></h1>
        <%= link_to 'Add Bookmark', new_list_bookmark_path(@list), class: "link-button mt-2" %>
      </div>
      <%# Card Bookmarks %>
      <div class="card mb-4 bookmarks-show-card">
        <div class="card-body">
          <h2 class="border-bottom mb-3">Bookmarks</h2>
          <%# Condition for bookmarks %>
          <% if @list.bookmarks.any? %>
            <ul class="list-group list-group-flush">
              <% @list.bookmarks.each do |bookmark| %>
                <li class="list-group-item">
                  <div class="d-flex align-items-center justify-content-between">
                    <%= bookmark.movie.title %>
                    <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this bookmark?" } do %>
                      <i class="fas fa-trash-alt delete-icon"></i>
                    <% end %>
                  </div>
                  <p class="mt-2"><%= bookmark.comment %></p>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No bookmarks yet!</p>
          <% end %>
        </div>

      </div>
      <%= link_to 'Back', lists_path, class: "link-edit" %>

    </div>
  </div>
</div>
