<div class="container d-flex flex-column ">

  <div class="d-flex align-items-center">
    <h1 class="p-3">Movies</h1>
    <%= link_to 'View All Lists', lists_path, class: "link-button" %>
  </div>

  <div class="movie-cards-grid row">
      <% @movies.each do |movie| %>
        <div class="card card-hover-black p-1 m-2 col-2 col-md-4 align-items-center" style="width: 18rem;">
          <img class="card-img-top" src="<%= movie.poster_url %>" alt="movie">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ratings: <%= movie.rating %></li>
          </ul>
          <div class="card-body">
            <%= link_to 'Show', movie_path(movie), class: "link-edit" %>
          </div>
        </div>
      <% end %>
  </div>

</div>
